#logo {
    width: 70px;
    height: 80px;
}
nav {
    margin-bottom: 20px;
}
#logo-login-panel {
    width: 100px;
    height: 110px;
    display: block;
    margin: 0px auto;
}
#title {
    color:coral;
}
#panel {
    border-radius: 10px;
    display: block;
    margin: 0px auto;
    width: fit-content;
}
h1 {
    text-align:center;
}
#button {
    background-color:coral;
    display:block;
    color: white;
    margin-bottom: 30px;
}
#sem-sublinhado {
    text-decoration: none;
}
footer {
    text-align:center;
    color:coral;
    font-size: small
}
form {
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
}
input {
    text-align: center;
    display: block;
    margin: 0px auto;
}
.row {
    margin-bottom: 30px;
}
label {
    text-align: center;
    color: grey;
}
p {
    text-align:center;
    color:green;
}